@tailwind base;
@tailwind components;
@tailwind utilities;


#video-post-container{
  @apply w-[400px] mx-auto
}

#video-post-container video{
  @apply max-w-full max-h-full mx-auto
}

.mobile-fullscreen video, .fullscreen-video video{
  @apply max-w-full max-h-full object-cover;
}

.fa-phone{
  @apply rotate-90;
}

.video-cards{
  @apply bg-black relative;
}

.watch-again-overlay {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center
   bg-black bg-opacity-50 cursor-pointer
}

.watch-again-overlay img {
  @apply max-w-full max-h-full;
}

#fullscreen-overlay{
  z-index: 1100;
}

.text-shadow{
  text-shadow: 1px 1px 0 black !important;
}


.video-post {
  @apply flex flex-col w-fit mx-auto
}

.video-description {
  @apply p-[10px] mt-[5px] w-full;
}

@media (max-width: 767px) {
  .fixed.inset-0.bg-black.z-50.flex {
    flex-direction: column;
  }

  .w-4\/5 {
    @apply w-full;
  }

  .w-1\/5 {
    @apply w-full;
  }
  #side-menu{
    @apply bottom-0 left-0 w-full block;
  }
  #side-menu ul{
    @apply flex justify-around mb-4;
  }
  .menu-label{
    @apply hidden;
  }
  #contact-actions{
    @apply flex gap-3 mt-4 ml-4;
  }
  .full-screen #contact-actions{
    @apply flex flex-col;
  }
}

@media (min-width: 768px){
  #side-menu{
    @apply block top-0 left-0 h-screen border-2 p-4 space-y-4 pl-0 w-2/12 ;
  }
  #side-menu ul{
    @apply ml-6;
  }
  #contact-actions{
    @apply flex gap-4 mt-4 ml-4;
  }
  @media (max-width: 900px){
    #side-menu {
      @apply block top-0 left-0 h-screen border-2 p-4 space-y-4 w-1/4;
    }
    #side-menu ul {
      @apply ml-8; 
    }
    #contact-actions {
      @apply flex gap-4 mt-4 ml-8; 
    }
  }
}

#side-menu{
  @apply fixed bg-white text-black font-normal;
  z-index: 1001;
}

#side-menu ul li{
  @apply mt-5;
}

#side-menu ul li a{
  @apply flex gap-5 items-center;
}

.image-carousel {
  @apply w-full overflow-x-auto whitespace-nowrap snap-x snap-mandatory snap-start;
  padding: 20px 5px;
}

.images-card{
  @apply inline-block mr-3 pb-5;
}

.image-carousel img {
  @apply w-20 h-20 rounded-full inline-block mr-3;
}

.video-container {
  @apply relative w-full overflow-hidden;
}

.video-container video {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover;
}
