@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
}

body{
  @apply bg-[#fdfdfd] ;
}

#video-post-container{
  @apply w-[400px] mx-auto
}

#video-post-container video{
  @apply max-w-full max-h-full mx-auto
}

.mobile-fullscreen video, .fullscreen-video video{
  @apply max-w-full max-h-full object-cover;
}

.video-full{
  @apply fixed inset-0 bg-black z-50 flex
}

.mobile-swiper{
  @apply w-full h-full relative;
}

.mobile-contact{
  @apply absolute right-0 p-2 text-shadow bottom-[130px]
}

.mobile-description{
  @apply absolute bottom-0 left-0 p-4 text-white text-shadow
}

.mobile-profile{
  @apply flex gap-2 items-center
}

.video-cards{
  @apply bg-black relative;
}

.watch-again-overlay {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center
   bg-black bg-opacity-50 cursor-pointer
}

.watch-again-overlay img {
  @apply max-w-full max-h-full;
}

#fullscreen-overlay{
  z-index: 1100;
}

.text-shadow{
  text-shadow: 1px 1px 0 black !important;
}


.video-post {
  @apply flex flex-col w-fit mx-auto
}

.video-description {
  @apply p-[10px]  w-full;
}

@media (max-width: 767px) {
  .fixed.inset-0.bg-black.z-50.flex {
    flex-direction: column;
  }

  .mobile-video{
    @apply mt-4
  }

  .minified-menu #side-menu{
    @apply hidden
  }

  .w-4\/5 {
    @apply w-[100%];
  }

  .w-1\/5 {
    @apply w-full;
  }
  #side-menu{
    @apply bottom-0 left-0 w-full block;
  }
  #side-menu ul{
    @apply flex justify-around mb-4;
  }
  .menu-label{
    @apply hidden;
  }
  #contact-actions{
    @apply flex gap-2 ;
  }
  .full-screen #contact-actions{
    @apply flex flex-col;
  }
}

@media (min-width: 768px){
  #side-menu{
    @apply block top-0 left-0 h-screen border-2 p-4 space-y-4 pl-0 w-2/12 ;
  }
  #side-menu ul{
    @apply ml-6;
  }

  #contact-actions{
    @apply flex gap-3;
  }
  @media (max-width: 900px){
    #side-menu {
      @apply block top-0 left-0 h-screen border-none p-4 space-y-4 w-1/4;
    }
    #side-menu ul {
      @apply ml-8 text-xl; 
    }
    /* #contact-actions {
      @apply block ; 
    } */

    .mobile-swiper{
      @apply w-full h-full relative;
    }
    .mobile-fullscreen video, .fullscreen-video video{
      @apply max-w-full max-h-full mt-10 object-cover m-auto;
    }
    .trending-grid{
      @apply grid grid-cols-2 gap-2 py-10 mt-32 ml-2
    }

    .settings-pg{
      @apply flex items-center gap-5 p-3
    }

    .settings-menu #video-post-container{
      @apply  w-3/4 float-right ;
    }
 
    .settings-pg #video-post-container{
      @apply w-[90%] text-xl h-full;
    }
    .settings-pg .settings-title{
      @apply text-xl font-semibold w-full
    }
    .category-pg #video-post-container{
      @apply w-full items-center text-xl m-0;
    }
    .category-btn{
      @apply  flex text-center bottom-1 h-auto mb-20
    }
    .save-btn{
      @apply m-auto;
    }
    .minified-menu #side-menu ul{
      @apply ml-2 ;
    }
    .minified-menu .menu-label{
      @apply hidden;
    }
    
    .minified-menu #side-menu{
      @apply w-auto h-auto bg-black text-white ;
    }
    .settings-page .company-title{
      @apply text-xl font-medium text-center 
    }
    .settings-pg .company-form{
      @apply text-xl font-semibold
    }
    .com-pcy{
      @apply text-base
    }
    .contact-tab{
      @apply text-3xl mt-7 mr-4 !important;
    }
    #contact-actions {
      @apply block ; 
    }
    .get-ph{
      @apply text-xl
    }
    .get-quote-form #video-post-container{
      @apply w-[90%]
    }
    .gq-tab .get-quote-img{
      @apply rounded-full m-auto w-36 h-36 mt-5
    }
    .gq-title{
      @apply text-center font-bold mt-2 text-xl
    }
    .gq-tab .get-qt .get-quote-title{
      @apply text-lg font-semibold
    }
    .gq-tab .get-qt .get-form{
      @apply text-lg
    }
    .gq-tab .get-qt .get-p{
      @apply mt-3 text-base  opacity-90
    }
    .gq-tab .get-p{
      @apply text-base
    }
    .gq-tab .get-qt .save-button .save-btn{
      @apply w-full mt-10 mr-2
    }
    .search-tab #video-post-container{
      @apply ml-[25%] w-[65%] 
    }
    .search-input{
      @apply w-full bg-gray-200 rounded-2xl h-12 text-base border border-gray-400
    }
  }
}


#side-menu{
  @apply fixed bg-[#fdfdfd] text-black font-normal;
  z-index: 1001;
}

#side-menu ul li{
  @apply mt-5;
}

#side-menu ul li a{
  @apply flex gap-5 items-center;
}

.image-carousel {
  @apply w-full whitespace-nowrap snap-x snap-mandatory snap-start;
  padding: 20px 5px;
}

.images-card{
  @apply inline-block  pb-5;
}

.image-carousel img {
  @apply w-16 h-16 rounded-full inline-block mr-3;
}

.image-carousel .mini img {
  @apply w-8 h-8 rounded-full inline-block transition-all duration-1000 ease-in-out;
}

.image-carousel .mini .text-guide{
  @apply hidden;
}

.video-container {
  @apply relative w-full overflow-hidden;
}

.video-container video {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover;
}

.splashScreen {
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center bg-white z-[9999];
}

.profile-core{
  @apply text-center;
  transition: 3s;
}

.profile-core img{
  @apply rounded-full m-auto;
  transition: 3s;
}

.profile-core h3{
  @apply font-semibold;
  transition: 3s;
}

.profile-large{
  @apply  mt-32 ;
}

.profile-large img{
  @apply  w-60 h-60;
}

.profile-large h3{
  @apply  text-2xl mt-10 border;
}

.profile-large p{
  @apply mt-6 text-base;
  transition: 3s;
}

.profile-minimized{
  @apply mt-12;
}

.profile-minimized img{
  @apply w-28 h-28;
}

.profile-minimized h3{
  @apply text-lg mt-5;
}

.profile-minimized p{
  @apply mt-0 text-sm p-5 pt-1 border-b-2 border-gray-300;
}

.profile-header{
  @apply transition duration-1000
}

.profile-header>div{
  @apply block w-full transition duration-1000;
}

.profile-header.better-fit{
  @apply flex border-b-2 border-gray-300;
}

.better-fit .profile-minimized p{
  @apply border-b-0;
}

.profile-header.better-fit>div{
  @apply inline-block w-1/2 transform scale-75 text-left
}

.profile-header.better-fit>div p{
  @apply p-0
}

.profile-header.better-fit>div img{
  @apply m-0 w-20 h-20;
}

.image-slider img {
  @apply inline-block mr-2 mt-5;
}

.swiper-scrollbar-drag {
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.1)) !important;
}



.get-quote{
  @apply text-white w-full p-2;
  /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
   /* background: radial-gradient(292deg, rgb(19, 55, 115) 11.4%, rgb(12, 51, 76) 70.2%) */
  background: radial-gradient(780px at 96.8% 7.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%);
}

.trending-img{
  @apply rounded-xl;
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
}

.trending-img-I{
  @apply rounded-xl;
  background: linear-gradient(98.61deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
}

.trending-grid{
  @apply grid grid-cols-2 gap-2 py-5
}

.trending-grid-col{
  @apply text-center text-white font-bold text-xl cursor-pointer
}

.trending-btn{
  @apply bg-gray-300 text-white  py-1 px-2 rounded
}

.carousel-container {
  position: relative;
}

.image-carousel.mini {
  filter: blur(3px);
}

.sub-carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.sub-carousel-overlay.show {
  opacity: 1;
}

.sub-carousel {
  @apply w-full ;
  max-width: 600px;
  margin-bottom: 20px;
}

.images-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-quote-back{
  @apply absolute font-semibold text-base pl-2 opacity-65;
}

.get-quote-img{
 @apply rounded-full m-auto w-20 h-20 mt-5
}

.gq-form{
  @apply w-full p-2 rounded-xl border border-gray-400
}

.get-quote-title{
  @apply text-sm font-semibold
}

.save-button{
  @apply p-3 text-center
}

.save-btn{
  @apply bg-green-500  text-white rounded-md
}

.settings-profile{
  @apply absolute font-semibold text-base pl-2 opacity-50
}

.settings-back{
  @apply flex items-center
}

.settings-page{
  @apply mt-5 border border-gray-200 p-3
}

.settings-ph{
  @apply w-full p-2 rounded-xl border border-gray-400
}

.category-ph{
  @apply w-full border border-gray-400 rounded-xl
}

.category-btn{
  @apply absolute bottom-1 w-full h-auto
}

.settings-pg{
  @apply flex items-center gap-5 p-3
}

.settings-title{
  @apply text-base font-semibold w-full
}

.profile-screen{
  @apply mt-10 border-b-2 border-solid border-gray-400 pb-4
}

.profile-screen img{
  @apply w-20 h-20 rounded-full
}

.profile-icons{
  @apply flex items-center mt-5
}

.search-input{
  @apply w-full bg-gray-200 rounded-xl border border-gray-400
}

.carousal-header{
  @apply flex gap-2 mt-5 items-center
}

.carousal-title{
  @apply mt-2 text-base 
}

.post-time{
  @apply relative text-xs mt-1 opacity-80
}

.post-count-slider{
  @apply absolute text-[10px] flex top-4 right-4 bg-gray-800 bg-opacity-75
  text-white z-[1001] px-[5px] pt-[3px] pb-[2px] rounded-full align-baseline
}

.slider-arrow-left{
  @apply absolute top-1/2 left-1 transform z-[1001] -translate-y-1/2
}

.slider-btn{
  @apply bg-gray-800 bg-opacity-50 text-white outline-none border-none px-2 py-1 rounded-full
}

.slider-arrow-right{
  @apply absolute top-1/2 right-1 transform z-[1001] -translate-y-1/2
}

.full-screen-btn{
  @apply mt-5 text-white absolute top-1/2 left-2
}

.fullscreen-des{
  @apply w-1/4 p-4 bg-gray-800 text-white
}

.full-hw{
  @apply w-full h-full
}

.header-mini-img{
  @apply rounded-full w-12 h-12
}

.header-title{
  @apply text-xs flex
}

.header-img{
  @apply w-5 border-2 border-gray-400 rounded-full
}

.header-carousal{
  @apply flex justify-center
}

.loop-profile{
  @apply relative flex gap-2 items-center text-white m-3 text-shadow
}

.loop-video{
  @apply relative w-full flex justify-center align-middle min-h-[600]
}

.loop-btn{
  @apply absolute bottom-2 right-2
}

.unmute-btn{
  @apply text-white bg-transparent border-none outline-none
}

.view-more{
  @apply flex items-center gap-3
}

.view-more-title{
  @apply text-base truncate
}

.view-more-btn{
  @apply text-xs p-0 px-2 rounded w-24 shadow-md bg-gray-800 bg-opacity-10
}

.decription-btn{
  @apply p-0 m-0 border rounded-lg px-2 text-blue-600
  shadow-md bg-white bg-opacity-10 text-xs border-gray-300
}

.company-title{
  @apply text-base font-medium text-center 
}

.company-form{
  @apply text-sm font-semibold
}

.gq-title{
  @apply text-center font-bold mt-2
}
.get-p{
  @apply mt-3 text-xs opacity-90
}

